<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Master-and-Student</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>Index</servlet-name>
	<jsp-file>/WEB-INF/views/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Index</servlet-name>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SIGNIN</servlet-name>
	<jsp-file>/WEB-INF/views/Signin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SIGNIN</servlet-name>
  	<url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ACTIVITYLOG</servlet-name>
	<jsp-file>/WEB-INF/views/activitylog.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ACTIVITYLOG</servlet-name>
  	<url-pattern>/allactivity</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SAVE</servlet-name>
	<jsp-file>/WEB-INF/views/saveMasterandstudent.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SAVE</servlet-name>
  	<url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LOGIN</servlet-name>
  	<jsp-file>/WEB-INF/views/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LOGIN</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LOGGING</servlet-name>
  	<jsp-file>/WEB-INF/views/logging.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LOGGING</servlet-name>
  	<url-pattern>/logging</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Operator</servlet-name>
  	<jsp-file>/WEB-INF/views/operator.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Operator</servlet-name>
  	<url-pattern>/operator</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<jsp-file>/WEB-INF/views/logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>